<div class="card">
  <img id="logo" src="assets/img/farmaFamily.png" />
  <p>
    As medicações contidas neste site não devem ser usadas para automedicação e
    não substituem, em hipótese alguma, as orientações dadas pelo profissional
    da área médica. Somente o médico está apto a diagnosticar qualquer problema
    de saúde e prescrever o tratamento adequado. Ao persistirem os sintomas, um
    médico deverá ser consultado. Os preços, as promoções, o frete, e as
    condições de pagamento divulgado no site são válidos apenas para compras
    feitas pela internet. O preço válido será o apresentado na finalização da
    compra. Todos os pedidos efetuados estão sujeitos à confirmação da
    disponibilidade de produto em nosso estoque. Maiores esclarecimentos,
    consultar o site: www.anvisa.gov.br
  </p>
  <button
    pButton
    type="button"
    label="Produtos"
    (onClick)="prevProdutos()"
  ></button>
</div>
