<br />
<div class="container">
  <p-table
    class="card"
    [value]="produtos"
    [scrollable]="true"
    scrollHeight="300px"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Código ERP</th>
        <th>Apresentação</th>
        <th>Nome Comercial</th>
        <th>NCA</th>
        <th>Uni. Medida Anvisa</th>
        <th>Código Barras Pricipal</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.codigoErp }}</td>
        <td>{{ produto.apresentacao }}</td>
        <td>{{ produto.nomeComercial }}</td>
        <td>{{ produto.nomeComercialComApresentacao }}</td>
        <td>{{ produto.unidadeMedidaAnvisa }}</td>
        <td>{{ produto.codigoBarrasPrincipal }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>

<div class="buttonAdd">
  <button
    pButton
    type="button"
    icon="pi pi-plus"
    iconPos="left"
    label="Novo Produto"
    (onClick)="addProduto()"
    [routerLink]="['cadastro']"
  ></button>
</div>
